.app {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app > * {
  margin: 1rem;
}

.dropzone {
  height: 16rem;
  width: 16rem;
  color: #fff;
  padding: 1rem;
  border-radius: 2rem;
  background: #7dcfb6;
  box-shadow: 1rem 1rem 2rem #71baa4, -1rem -1rem 2rem #8ae4c8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dropzone p {
  font-size: 2rem;
}

.dropzone svg {
  font-size: 8rem;
}

.download {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.download:hover {
  color: white;
  background-color: #ffffff33;
  text-decoration: none;
}
